@model List<WebBimba.Data.Entities.CategoryEntity>

<h1 class="text-center">Оберіть потрібну категорію</h1> 

<div class="container"> // контейнер для категорій
    <a asp-action="Create" class="btn btn-success">Додати</a> // кнопка для додавання категорії
    <div class="row"> // рядок для категорій
        @foreach (var item in Model)
        {
            <div class="col-md-3" id="@("ProductItem"+@item.Id)"> // блок для категорії
                <div class="card" style="width: 100%;"> // карточка категорії
                    <img src="/uploading/300_@item.Image" class="card-img-top"> // фото категорії
                    <div class="card-body"> // тіло карточки
                        <h5 class="card-title">@item.Name</h5> // назва  категорії
                        <p class="card-text">@item.Description</p> // опис категорії
                        <a href="#" class="btn btn-danger" data-name="@item.Name"  
                            data-delete="@item.Id">Delete</a> // кнопка для видалення категорії
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="modal" id="modalDelete" tabindex="-1"> // модальне вікно для підтвердження видалення
    <div class="modal-dialog"> // діалогове вікно
        <div class="modal-content"> // вміст вікна
            <div class="modal-header"> // заголовок вікна
                <h5 class="modal-title">Ви дійсно бажаєте видалити</h5> // заголовок вікна
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> // кнопка для закриття вікна
            </div>
            <div class="modal-body"> // тіло вікна
                <p>Буде проведено видалення <span id="categoryName"></span>?</p > // підтвердження видалення
            </div>
            <div class="modal-footer"> // футер вікна
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Скасувати</button> // кнопка для скасування
                <button type="button" class="btn btn-primary" id="deleteYes">Підтвердити</button> // кнопка для підтвердження
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="/lib/axios/axios.min.js"></script> // підключення бібліотеки axios
    <script>
        document.addEventListener("DOMContentLoaded", () => { // виконання скрипту після завантаження сторінки
            var modalDelete = new bootstrap.Modal(document.getElementById('modalDelete')); // створення модального вікна

            var buttonsDelete = document.querySelectorAll('[data-delete]'); 
            var categoryName = document.getElementById("categoryName"); 
            var idDelete = 0;
            buttonsDelete.forEach(btn => {
                btn.addEventListener("click", function (event) {
                    event.preventDefault();
                    var id = this.getAttribute('data-delete');
                    var name = this.getAttribute('data-name');
                    idDelete = id;
                    categoryName.innerHTML = name;
                    modalDelete.show();
                });
            });

            document.getElementById("deleteYes").addEventListener("click", () => { // видалення категорії
                console.log("Delete by id", idDelete);
                //Виконуємо асинхроний запит на сервер через JavaScript
                axios.post("/Main/Delete/" + idDelete)
                    .then(res => { //Очікуємо результат від сервера
                        modalDelete.hide();
                        document.getElementById("ProductItem"+idDelete).remove();
                    });
            });
        });
    </script>
}